{% extends 'base.html.twig' %}

{% block title %}Association Linas Autrement, changeons notre ville ensemble!{% endblock %}

{% block stylesheets %}
    <style>
        .edito
        {
            -webkit-column-count:3; /* Opera, Safari, Google Chrome */
            -moz-column-count: 3; /* Firefox */
            column-count: 3; /* Internet Explorer */
        }
    </style>
{% endblock %}

{% block body %}

    <!--Main Slider-->
    <section class="main-slider slider-one">
        <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                <ul>
                    <!-- Slide 1 -->
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">

                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{ slider.image1 }}">

                        <div class="tp-caption tp-resizeme"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-width="['480','480','480','480']"
                             data-hoffset="['15','15','15','15']"
                             data-voffset="['-120','-120','-120','-100']"
                             data-x="['left','left','center','center']"
                             data-y="['middle','middle','middle','middle']"
                             data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <h1 class="title">{{ slider.text1 }}</h1>
                        </div>

                        <div class="tp-caption tp-resizeme"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-width="['480','480','480','480']"
                             data-hoffset="['15','15','15','15']"
                             data-voffset="['-10','-10','-40','-20']"
                             data-x="['left','left','center','center']"
                             data-y="['middle','middle','middle','middle']"
                             data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <h2>{{ slider.text2 }}</h2>
                        </div>

                        <div class="tp-caption tp-resizeme"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-whitespace="normal"
                             data-width="['480','480','480','480']"
                             data-hoffset="['15','15','15','15']"
                             data-voffset="['60','60','20','20']"
                             data-x="['left','left','center','center']"
                             data-y="['middle','middle','middle','middle']"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <h4>{{ slider.text3 }}</h4>
                        </div>

                        <div class="tp-caption tp-resizeme"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-width="['480','480','480','480']"
                             data-textalign="center"
                             data-hoffset="['15','15','15','15']"
                             data-voffset="['140','140','100','100']"
                             data-x="['left','left','center','center']"
                             data-y="['middle','middle','middle','middle']"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <a href="{{ path('about') }}" class="theme-btn btn-style-one">EN SAVOIR PLUS</a>
                            <a href="{{ path('donate') }}" class="theme-btn btn-style-three">FAIRE UN DON</a>
                        </div>

                        <div class="tp-caption tp-resizeme ipad-hidden"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="shape"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-width="none"
                             data-hoffset="['-25','0','0','0']"
                             data-voffset="['-125','-125','-125','-125']"
                             data-x="['left','left','center','center']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>

                        </div>
                    </li>

                    <!-- Slide 2 -->
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-3.jpg" data-title="Slide Title" data-transition="parallaxvertical">

                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{ slider.image2 }}">

                        <div class="tp-caption tp-resizeme"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-width="['480','480','480','480']"
                             data-hoffset="['15','15','15','15']"
                             data-voffset="['-120','-120','-120','-100']"
                             data-x="['left','left','center','center']"
                             data-y="['middle','middle','middle','middle']"
                             data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <h1 class="title">{{ slider.text4 }}</h1>
                        </div>

                        <div class="tp-caption tp-resizeme"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-width="['480','480','480','480']"
                             data-hoffset="['15','15','15','15']"
                             data-voffset="['-10','-10','-40','-20']"
                             data-x="['left','left','center','center']"
                             data-y="['middle','middle','middle','middle']"
                             data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <h2>{{ slider.text5 }}</h2>
                        </div>

                        <div class="tp-caption tp-resizeme"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-whitespace="normal"
                             data-width="['480','480','480','480']"
                             data-hoffset="['15','15','15','15']"
                             data-voffset="['60','60','20','20']"
                             data-x="['left','left','center','center']"
                             data-y="['middle','middle','middle','middle']"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <h4>{{ slider.text6 }}</h4>
                        </div>

                        <div class="tp-caption tp-resizeme"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-width="['480','480','480','480']"
                             data-textalign="center"
                             data-hoffset="['15','15','15','15']"
                             data-voffset="['140','140','100','100']"
                             data-x="['left','left','center','center']"
                             data-y="['middle','middle','middle','middle']"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <a href="{{ path('about') }}" class="theme-btn btn-style-one">EN SAVOIR PLUS</a>
                            <a href="{{ path('donate') }}" class="theme-btn btn-style-three">FAIRE UN DON</a>
                        </div>

                        <div class="tp-caption tp-resizeme ipad-hidden"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="shape"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-width="none"
                             data-hoffset="['-25','0','0','0']"
                             data-voffset="['-125','-125','-125','-125']"
                             data-x="['left','left','center','center']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>

                        </div>
                    </li>



                </ul>
            </div>
        </div>
    </section>
    <!--End Main Slider-->

    <!--About Section-->
    <section class="about-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h4 class="title">Edito</h4>
                <h2>{{ edito.title }}</h2>
                <div class="separator"><span class="flaticon-nature"></span></div>
            </div>
            <div class="row clearfix">
                <!--Content Column-->
                <p>{{ edito.content | nl2br }}</p>

                <!--Image Column-->
                {#<div class="image-column col-md-6 col-sm-12 col-xs-12">
                    <div class="image wow fadeInRight" data-wow-duration="1500ms">
                        <figure class="image-1" style="margin-left: 50px"><img src="{{ edito.image }}" alt="{{ edito.title }}"></figure>
                        <figure class="image-2" style="width: 300px; height: 300px"><img src="/images/resource/about-2.png" alt="Linas autrement"></figure>
                    </div>
                </div>#}
            </div>
        </div>
    </section>
    <!--End About Section-->

    <!-- What We Do -->
    <section class="what-we-do" style="background-image: url(/images/background/1.jpg);">
        <div class="sec-title text-center light">
            <h3 class="title">Nos travaux</h3>
            <h2>Nos actions pour la ville</h2>
            <div class="separator"><span class="flaticon-nature"></span></div>
        </div>

        <div class="project-carousel owl-carousel owl-theme">
            <div class="project-block">
                <div class="image-box">
                    <figure class="image"><img src="/images/resource/work-1.jpg" alt=""></figure>
                    <div class="caption-box">
                        <div class="icon-box"><img src="/images/icons/recycle.png" alt=""></div>
                        <h3><a href="#">Urbanisme</a></h3>
                        <div class="text">
                            <p>Texte, description</p>
                        </div>
                        <a href="{{ path('actions') }}" class="read-more">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="project-block">
                <div class="image-box">
                    <figure class="image"><img src="/images/resource/work-2.jpg" alt=""></figure>
                    <div class="caption-box">
                        <div class="icon-box"><img src="/images/icons/eco.png" alt=""></div>
                        <h3><a href="#">L'enfance</a></h3>
                        <div class="text">
                            <p>Texte, description</p>
                        </div>
                        <a href="{{ path('actions') }}" class="read-more">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="project-block">
                <div class="image-box">
                    <figure class="image"><img src="/images/resource/work-3.jpg" alt=""></figure>
                    <div class="caption-box">
                        <div class="icon-box"><img src="/images/icons/wind.png" alt=""></div>
                        <h3><a href="#">Commerce de ville</a></h3>
                        <div class="text">
                            <p>Texte, description</p>
                        </div>
                        <a href="{{ path('actions') }}" class="read-more">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="project-block">
                <div class="image-box">
                    <figure class="image"><img src="/images/resource/work-4.jpg" alt=""></figure>
                    <div class="caption-box">
                        <div class="icon-box"><img src="/images/icons/save.png" alt=""></div>
                        <h3><a href="#">Sécurité</a></h3>
                        <div class="text">
                            <p>Texte, description</p>
                        </div>
                        <a href="{{ path('actions') }}" class="read-more">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End What We Do -->

    <!-- Help Section -->
    <section class="help-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--content column-->
                <div class="content-column col-lg-4 col-md-5 col-sm-12 col-xs-12">
                    <div class="inner-box">
                        <!--About Title-->
                        <div class="sec-title">
                            <h4 class="title">Aidez-nous !</h4>
                            <h2>Rejoignez notre cause pour le bien de notre ville, ensemble !</h2>
                            <div class="separator"><span class="flaticon-nature"></span></div>
                        </div>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="progress-bars">
                            <div class="bar-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Exemple d'objectif</div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner"><div class="bar progress-line" data-width="86"><div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="75">0</span>%</div></div></div></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('donate') }}" class="theme-btn btn-style-two">Faire un don</a>
                    </div>
                </div>
                <!--Services Column-->
                <div class="help-column col-lg-8 col-md-7 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        <div class="help-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box"><span class="icon flaticon-ecological"></span></div>
                                <h3><a href="">Cible 1</a></h3>
                                <p>Capitalize on low hanging fruit ot the identify a ballpark value added Most activity to beta test. </p>
                            </div>
                        </div>

                        <div class="help-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box"><span class="icon flaticon-help"></span></div>
                                <h3><a href="{{ path('donate') }}">Faire un don</a></h3>
                                <p>Capitalize on low hanging fruit ot the identify a ballpark value added Most activity to beta test. </p>
                            </div>
                        </div>

                        <div class="help-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box"><span class="icon flaticon-networking"></span></div>
                                <h3><a href="">Cible 2</a></h3>
                                <p>Capitalize on low hanging fruit ot the identify a ballpark value added Most activity to beta test. </p>
                            </div>
                        </div>

                        <div class="help-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box"><span class="icon flaticon-pay"></span></div>
                                <h3><a href="">Cible 3</a></h3>
                                <p>Capitalize on low hanging fruit ot the identify a ballpark value added Most activity to beta test. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Help Section-->

    <!-- News Section -->
    <section class="news-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h4 class="title">Blog</h4>
                <h2>L'actualité</h2>
                <div class="separator"><span class="flaticon-nature"></span></div>
            </div>

            <div class="row clearfix">
                {% for article in articles %}
                    <!-- News Block -->
                    <div class="news-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box"><img src="{{ article.image }}" alt=""></div>
                            <div class="content-box">
                                <span class="date">{{ article.createdAt | date('d M Y') }}</span>
                                <div class="content">
                                    <h3><a href="{{ path('blog_article', {'slug':article.slug}) }}">{{ article.title }}</a></h3>
                                    <p>{{ article.shortDescription }}</p>
                                    <a href="{{ path('blog_article', {'slug':article.slug}) }}" class="read-more">Lire l'article</a>
                                </div>
                                <div class="info-box">
                                    <div class="info">
                                        <a href=""><i class="flaticon-like"></i> Like <span>({{ article.liked }})</span></a>
                                    </div>
                                    <div class="info">
                                        <a href=""><i class="flaticon-interface"></i> Commentaires <span>({{ article.comments.count() }})</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               {% endfor %}
            </div>
        </div>
    </section>
    <!-- End News Section -->


    <!-- Gallery Section -->
    <section class="gallery-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Galerie</h2>
                <div class="separator"><span class="flaticon-nature"></span></div>
            </div>
        </div>

        <div class="row clearfix">
            {% for gallery in galleries %}
            <!-- Gallery Item -->
            <div class="gallery-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image"><img src="{{ gallery.url }}" alt="{{ gallery.caption }}"></figure>
                    <div class="caption-box">
                        <div class="inner">
                            <div class="title"><h3><a href="">Linas autrement</a></h3></div>
                            <h4>{{ gallery.caption }}</h4>
                            <div class="icon-box">
                                <a href="{{ gallery.url }}" class="lightbox-image" data-fancybox="Gallery"><span class="flaticon-add"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>
    <!-- End Gallery Section -->

    <!-- Volunteer Section -->
    <section class="volunteer-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Nos volontaires</h2>
                <div class="separator"><span class="flaticon-nature"></span></div>
            </div>

            <div class="volunteer-carousel owl-carousel owl-theme">
                {% for member in members %}
                    {% if member.userRoles.count() > 0 %}
                        <!--Volunteer Member-->
                        <div class="volunteer-member">
                            <div class="inner-box clearfix">
                                <div class="image-box">
                                    <figure class="image"><img src="{{ member.picture }}" alt=""></figure>
                                </div>
                                <div class="info-box">
                                    <h3 class="name">{{ member.firstname }} {{ member.lastname }}</h3>
                                    <p>{{ member.username }}</p>
                                    <span class="desingnation">Fonction: {{ member.job }}</span>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- End Volunteer Section -->


{% endblock %}

{% block javascripts %}
    <!--Revolution Slider-->
    <script src="/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="/js/main-slider-script.js"></script>
    <!--End Revolution Slider-->
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/owl.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/appear.js"></script>
    <script src="/js/validate.js"></script>
    <script src="/js/script.js"></script>
{% endblock %}