{% extends 'base.html.twig' %}

{% block title %}Linas Autrement, les membres{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block body %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/8.jpg);">
        <div class="auto-container">
            <h1>Team</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="{{ path('home') }}">Home </a></li>
                <li>Nos adhérents</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Volunteer Section -->
    <section class="volunteer-section">
        <div class="auto-container">
            <div class="row clearfix">

                {% for member in members %}
                    {% if member.userRoles.count() > 0 %}

                        <!--Volunteer Member-->
                        <div class="w3-container" style="margin-bottom: 60px;">

                            <div class="w3-card-4" style="width:100%; border: 20px solid white">
                                <header class="w3-container" style="background-color: #e94c4c; color: white">
                                    <h3>{{ member.firstname }} {{ member.lastname }}</h3>
                                    <p style="color: black; margin-bottom: 10px">{{ member.username }}</p>
                                </header>
                                <div class="w3-container">
                                    <p>{{ member.presentation }}</p>
                                    <hr>
                                    <img src="{{ member.picture }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                                    <p style="color: black">{{ member.description }}</p><br>
                                </div>
                                <button class="w3-button w3-block" style="background-color: #68916a; color: white">{{ member.job }}</button>
                            </div>
                        </div>
                        
                    {% endif %}
                {% endfor %}


            </div>
        </div>
    </section>
    <!-- End Volunteer Section -->

{% endblock %}

{% block javascripts %}
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/owl.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/appear.js"></script>
    <script src="/js/script.js"></script>
{% endblock %}