{% extends 'base.html.twig' %}

{% block title %}Association Linas Autrement, {{ category.title }}{% endblock %}
{% block stylesheets %}
    <style>
        .catactive {
            color: red;
        }
    </style>
{% endblock %}

{% block body %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/9.jpg);">
        <div class="auto-container">
            <h1>{{ category.title }}</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="{{ path('home') }}">Home </a></li>
                <li><a href="{{ path('blog') }}">Blog </a></li>
                <li>{{ category.title }}</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="blog-standard">

                        {% for article in articles %}

                            {% include 'blog/_list_articles.html.twig' %}

                        {% endfor %}




                        {% if pages > 1 %}
                            <!-- Styled Pagination -->
                            <div class="styled-pagination clearfix">
                                <ul class="clearfix">
                                    {% if page > 1 %}
                                        <li class="next"><a href="{{ path('blog_category', {'slug':category.slug}, {'page':1}) }}"><<</a></li>
                                    {% endif %}
                                    {% for p in 1..pages %}
                                        <li><a href="{{ path('blog_category',{'slug':category.slug}, {'page':p}) }}" {% if p == page %}class="active"{% endif %}>{{ p }}</a></li>
                                    {% endfor %}
                                    {% if page < pages %}
                                        <li class="next"><a href="{{ path('blog_category',{'slug':category.slug}, {'page':pages}) }}">>></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}

                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar default-sidebar">

                        <!-- Category Widget -->
                        <div class="sidebar-widget categories">
                            <div class="sidebar-title"><h3>Catégories</h3></div>
                            <ul class="category-list">
                                {% for c in categories %}
                                    <li>
                                        <a {% if c.id == category.id %}style="color: #e94c4c; font-weight: bold"{% endif %} href="{{ path('blog_category', {'slug' : c.slug}) }}">
                                            {{ c.title }}

                                        </a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>


                        <!-- Gallery Widget -->
                        <div class="sidebar-widget gallery-widget">
                            <div class="sidebar-title"><h3>Gallerie Instagram</h3></div>
                            <div class="gallery-outer clearfix">
                                {{ render(controller(
                                    'App\\Controller\\HomeController::sidebarGalleries'
                                )) }}
                            </div>
                            <div class="btn-box"><a href="{{ path('gallery') }}" class="theme-btn btn-style-two">Follow Us</a></div>
                        </div>


                        <!-- Post Widget -->
                        {{ render(controller(
                            'App\\Controller\\BlogController::sidebarArticles'
                        )) }}

                        <!-- Tags -->
                        <div class="sidebar-widget tags">
                            <div class="sidebar-title"><h3>Mots clés</h3></div>
                            <ul class="tag-list clearfix">
                                <li><a href="#">tag 1</a></li>
                                <li><a href="#">tag 2</a></li>
                                <li><a href="#">tag 3</a></li>
                                <li><a href="#">tag 1</a></li>
                                <li><a href="#">tag 2</a></li>
                                <li><a href="#">tag 3</a></li>
                            </ul>
                        </div>

                        <!-- Meta tags
                        <div class="sidebar-widget meta">
                            <div class="sidebar-title"><h3>Meta</h3></div>
                            <ul class="meta-list">
                                <li><a href="#">Log in</a></li>
                                <li><a href="#">Entries <span>RSS</span></a></li>
                                <li><a href="#">Comments <span>RSS</span></a></li>
                                <li><a href="#">WordPress.org</a></li>
                            </ul>
                        </div> -->




                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->

{% endblock %}

{% block javascripts %}
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/owl.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/appear.js"></script>
    <script src="/js/script.js"></script>
{% endblock %}